/* fixed */

.fixed-container {
    position: relative;
}

/* images */

.container-images {
	position: relative;
}

.content-img-fixed {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .7s;
}

.content-img-fixed img {
	max-width: 100%;
	object-fit: cover;
}

/* text */

.text-fixed {
	width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.text-fixed p {
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s ease; 
    /*position: relative;
    bottom: 0;*/
}

.text-fixed p:first-child  {
	padding-top: 120vh;
	margin-bottom: 80vh;
}


.text-fixed span {
    width: 40%;
    background-color: #fffffff0;
    padding: 20px;
    margin: 0 40px;
    margin-bottom: 130vh;
   /* font-size: 1.6rem;
    line-height: 2.4rem;*/
    font-size: 18px;
    line-height: 20px;
}

.fixed_top, 
.fixed_top .content-img-fixed
{
    position: fixed !important;
    top: 0 !important;
    bottom: inherit !important;
}


.absolute_bottom,
.absolute_bottom .content-img-fixed {
	position: absolute!important;
	bottom: 0!important;
	top: inherit!important;
}

.absolute_bottom + .text-fixed p {
	position: relative;
	bottom: 30vh;
}


.visible {
	opacity: 1!important;
}


/* end fixed */